body {
    margin: 0; /* Elimina el margen predeterminado */
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr; /* Dos columnas: barra lateral y contenido */
}

.gato {
    width: 100%; /* Ocupa el ancho completo */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden; /* Evita que la imagen se desborde */
}

.gato img {
    width: 100%; /* La imagen ocupa el ancho completo */
    height: 100%; /* La imagen ocupa la altura completa */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

.sidebar {
    position: fixed; /* Fija la barra de navegación */
    width: 250px; /* Ancho de la barra lateral */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

.content {
    margin-left: 250px; /* Margen igual al ancho de la barra lateral */
    padding: 0px; /* Espaciado interno */
}

/*Seccion 2*/
.contenedor-seccion2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre la imagen y el texto */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px; /* Espaciado interno */
}

.contenedor-imagen img{
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.contenedor-texto {
    padding: 10px; /* Espaciado interno */
    font-size: 20px;
    line-height: 1.2; /* Espaciado entre líneas */
    font-family: "Gill Sans", sans-serif;
}